:root {
  font-size: 20px;
}
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}
.header__nav {
  width: 60%;
  margin: 0 auto;
  padding: 0%;
  overflow: auto;
  list-style: none;
}

.header__nav-items {
  float: left;
  width: 25%;
}

li.header__nav-items > a[href] {
  color: #16a085;
  text-decoration: none;
  width: 100%;
  display: inline-block;
  text-align: center;
  transition: all 0.7s;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.9rem;
  padding: 1rem 0;
}
li.header__nav-items > a:hover {
  box-shadow: 0px 5px 10px #16a085;
}
main {
  background-color: #f5f6f7;
}
.BG {
  background-image: url("../img/top-img@1X\ \(1\).png");
  height: 80vh;
}
.content {
  text-align: center;
  margin: 1.5rem auto;
  width: 80%;
  background-color: #f5f6f7;
}
.btn {
  background-color: #16a085;
  color: #eff9f7;
  padding: 1rem 1.5rem;
  border-radius: 5px;
  text-transform: uppercase;
  text-decoration: none;
  margin-top: 2rem;
  display: inline-block;
}
.footer {
  text-align: right;
  padding-right: 1rem;
  margin: 2rem 0;
}
